.contain, .base {
    position: absolute;
    float: left;
    left:75px;
    top:0px;
    width: 90%;
    height: 800px;
    z-index: 10000;
}

.base {
    border: solid 0px #ffffff;
}
.contain {
    -webkit-transition: 1s all linear;
}
.child {

    width: 100%;
    height: 113%;
    display: inline-block;
    margin: 0px 0px;
    transition: .4s all linear;
    -webkit-transition: .4s all linear;
    -moz-transition: .4s all linear;
    background-image: url(images/eagle_vks.png);
    background-size: 100% 100%;
    z-index: 10000;
}

.base .child.final {
    width: 0px;
    height: 0px;
    margin: -1px 0px;
    background-color: silver;
}
.i2Style{
position:relative;
float: left;
top:370px;
left:1094px;
font:bold 26px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#FFD700;
background:#dbd515;
border:0px solid #ffffff;
text-shadow:2px -1px 7px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
width:72px;
padding:5px 43px;
cursor:pointer;
margin:0 auto;
z-index: 10000;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.image01 {
  margin-top: 1px;
  position: relative;
  float: left;
}

.slider-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider {
  width: 2000em;
}
.slider .slide {
  height: 600px;
  overflow: hidden;
  position: relative;
  top: 72px;
  padding: 0;
  float: left;
}
.slider .slide img {
  position: absolute;
  width: 100%;

}
.slider .slide .description3 {
  position: absolute;
  float: left;
  bottom: 50px;
  left: 0px;
  top: 350px;
  background: rgba(0,0,0,0);
  background-image: url(images/alarmes_monitoramento.png);
  background-repeat: no-repeat;
  background-size: 90% 150px;
  color: #000000;
  padding: 1em;
  margin: 0;
  font-size: .8em;
  width: 109%;100
  height: 150px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;

}
.slider .slide .description4 {
  position: absolute;
  float: left;
  bottom: 89px;
  left: 527px;
  background: rgba(0,0,0,.1);
  color: #FFF;
  padding: 1em;
  margin: 0;
  font-size: 18px;
  font-family: tahoma;
  width: 650px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;

}
.slider .slide  a:link {text-decoration              : none;color: #000000}
.slider .slide  a:active {text-decoration            : none;color: #000000}
.slider .slide  a:visited {text-decoration           : none;color: #696969}
.slider .slide  a:hover {text-decoration             : none;color: #363636}


 
/*extruture page*/

body {
    background-image         : url(images/degrade.png);
    margin              : 0px;
    border              : 0px;
    padding             : 0px;
}
.clear {
    clear               : both;
    display             : block;
}

.container {
    width               : 90%;
    margin              : 60px 102px;
}
/*MENU DESCRIPTIONS*/
ul li a {
    margin              : 0px solid #363636;
    padding             : 0px;
    color               : #ffffff;
    text-decoration     : none;
    z-index             : 3;
}
ul li div {
    border              : 0px solid #363636;
    border-radius       : 6px;
    background-color    : #000000;
    position            : relative;
    float               : right;
    display             : none;
    width               : 86px;
    padding             : 0px 0px 0px 0px;
    z-index             : 99;
    right               : -55px;
    top                 : 3px;
}
ul li div ul {
    width               : 104px;
    border              : 0px solid #363636;
    background-color    : #000000;
    padding             : 0px;
    z-index             : 1;
    border-radius       : 5px;
}
ul li:hover div { display:block;}
ul li div ul li { 
    border-bottom       : 0px solid #363636;
    display             : block;
    position            : relative;
    float               : left;
    padding             : 4px 4px;
    margin              : -3; 
}
ul li div ul li:last-child {border:none;}

/*menu top page simbol sony and descriptions menu*/
#menu_top {
    position            : fixed;
    top                 : 0px;
    left: 149px;
    background-color    :;
    padding             : 0px;
    height              : 180px;
    width: 73%; 
    z-index             : 1000;
}

.sony {
    position            : relative;
    float               : right;
    left                : -968px;
    background-image    : url(images/eagle.png);
    background-repeat   : no-repeat;
    display             : inline-block;
    background-size     : 200px 138px;
    width               : 199px;
    height              : 156px; 
    top                 : 0px;
    z-index             : 800;

}
/*menu links Historia - Segurança - Clientes - Contato*/

ul.menu_top {
    position: fixed;
    border: 0px solid #ff0000;
    left: 201px;
    top:138px;
    height: 40px;
    width               : 67%;
    background-color    : ;
    padding             : 0px 0px 0px 0px;
    margin              : 0px 0px;
    list-style          : none;
    text-align          : center;
    font-size           : 19px;
    color               : #ffffff;
    font-weight         : bold;
    font-family         : arial;
    z-index             : 9999;
}
ul.menu_top > li { 
    float               : left;
    padding: 8px 3px;
    position            : relative;
    display             : inline-block;
    margin-top          : 16px;
    width               : 265px; 
    text-decoration     : 2px;
    letter-spacing      : 1px; 
    z-index             : 9999;
}
ul.menu_top > li { 
    float                                   : left; 
    position                                : relative; 
    margin-top                              : 0px;
    left                                    : 0px; 
    z-index: 9999;
}
.col-lg-4 h2, ul.menu_top > li {
    border                                  : 1px solid #363636;
    margin: 0px;

    z-index: 9999; 
}
.col-lg-4 h2, ul.menu_top > li.historia, li.seguranca, li.clientes, li.contato, .col-lg-4 { 
    background:#CFCFCF;
    z-index:9;
    border-radius: 3px;
    -webkit-transition: all 1600ms ;
    -moz-transition: all 1600ms ;
    -ms-transition: all 1600ms ;
    -o-transition: all 1600ms ;
    transition: all 1600ms ;
}
.col-lg-4 h2, ul.menu_top > li.historia:hover, li.seguranca:hover, li.clientes:hover, li.contato:hover, .col-lg-4:hover{
    background:#1C1C1C;
}
ul.menu_top a {
     color: #000000;
     padding: 10px 100px;
    -webkit-transition: all 1200ms ;
    -moz-transition: all 1200ms ;
    -ms-transition: all 1200ms ;
    -o-transition: all 1200ms ;
    transition: all 1200ms ;
}
.col-lg-4 h2{
     color: #000000;
     padding: 10px 27px;
    -webkit-transition: all 1200ms ;
    -moz-transition: all 1200ms ;
    -ms-transition: all 1200ms ;
    -o-transition: all 1200ms ;
    transition: all 1200ms ;
}

.col-lg-4 h2, ul.menu_top  a:hover {text-decoration        :none;color: #ffffff}

.carro {
    position: relative;
    float: left;
    background-image    : url(images/banner_vks_carros.png); 
    background-repeat   : no-repeat;
    background-size     : 93% 136px;
    margin              : 1px;
    top                 : 1px;
    height              : 137px;
    left: 20%;
    width: 80%;
    z-index             : 4;
}
a.btn {
    position: relative;
    float: left;
    left: -66px;
    width: 150px;
    bottom: -10px;
    color: #000000;
     padding: 100px 100px;
    -webkit-transition: all 1200ms ;
    -moz-transition: all 1200ms ;
    -ms-transition: all 1200ms ;
    -o-transition: all 1200ms ;
    transition: all 1200ms ;
}

/* center page images in move*/
.content {
    padding             : 0px;
    width               : 90%;
    height              : auto;
    
}
.content > div {
    display: inline;
    background-image         : url(images/degrade.png) opacity: 0.100;
    border              : 0;
    padding             : 0px;
    width               : 90%;
    top: 10px;
    height              : 335;
    float               : left;
 /*   z-index             : 1;*/
}
#center {
    background-color    : #ffffff;
    border              : 0px solid #ff0000;
    padding             : 0px;
    height              : auto;
    top                 : 100px;
    width               : 90%;
    z-index             : 1; 
    margin-top          : 0px; 
}
h2 {
    font-size: 16px;
}
    
p {
   color: #9C9C9C;
    text-align: center; 
}
.col-lg-4 {
    margin: -141px 10px;
    position: relative;
    float: left;
    left: -11px;
    display: inline-block;
    width: 259px;
    height: 550px;
    font-size: 18px;
}

.col-lg-4  a:link {text-decoration              : none;color: #9C9C9C}
.col-lg-4  a:link {font-weight                  : bold}
.col-lg-4  a:active {text-decoration            : none;color: #9C9C9C}
.col-lg-4  a:visited {text-decoration           : none;color: #9C9C9C}
.col-lg-4  a:hover {text-decoration             : none;color: #ffffff}

/*final page images Sony thumbnail*/
 #bottom {
    background-color    : #ffffff;
    background-size     : 50px 200px;
    border              : 0px solid #ff0000;
    padding             : 0px;
    height              : 50px;
    width               : 90%;
    margin              : 0px;
    padding             : 0px;  
}
/*links new pages images in end images move*/
#alarm, #cftv, #cerca, #monitoramento {
    position            : relative;
    float               : left;
    padding-top: 10px;
    margin              : 1px 5px;
    width               :  200px;
    padding             : 1px 3px;
    top                 : -80px;
    z-index             : 50;
    display             : inline-block;
    font-size           : 60px;
    opacity:0.01;
    -moz-opacity: 0.01;
    filter: alpha(opacity=01);
}

/*pages direction - Eletronics Playstation Entertainment Support*/
#in_construction {
    border              : 20px solid #000000;
    font-size           : 55px;
    height              : 600px;
    font-weight         : bold;
    background-image    : url(images/in_construction.png);
    background-repeat   : no-repeat;
    background-size     : auto 700px;
    
}
#in_construction ul {list-style                       : none;color: #000000}
#in_construction a:link {text-decoration              : none;color: #000000}
#in_construction a:active {text-decoration            : none;color: #000000}
#in_construction a:visited {text-decoration           : none;color: #FFA500}
#in_construction a:hover {text-decoration             : none;color: #FF8C00}

.in_construction {
    float               : left;
    padding             : 170px 530px;
    width               : 100px;
    height              : 100px;
    margin              : auto;
    text-shadow         : #000000 3px -3px 7px, #000000 -3px 3px 9px, #EE3B3B 5px 5px 8px, #EE3B3B -5px -5px 8px;
}


.footer {
    margin: 0px;
    border: 0px solid #ffffff; 
    position: relative;
    float: left;
    left: 138px;
    top: 107px;
    font-size: 10px;
    font-family: tahoma;
}
#endereco {
    position                                : relative;
    top                                     : -42px;
    margin-left                             : 10px;
    text-align                              : center;
    font-size                               : 8px;
    color                                   : #ffffff;
    background-image                        : url("images/logold.png");/* image logo lado direito*/
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 200px;
    height:50px;
    left: -45px;
    z-index: 65;
}

/*pages direction - Eletronics Playstation Entertainment Support*/
#in_construction {
    border              : 20px solid #000000;
    font-size           : 55px;
    height              : 100%;
    font-weight         : bold;
    background-image    : url(images/in_construction.png);
    background-repeat   : no-repeat;
    background-size     : 100% 200%;
    
}
#in_construction ul {list-style                       : none;color: #000000}
#in_construction a:link {text-decoration              : none;color: #000000}
#in_construction a:active {text-decoration            : none;color: #000000}
#in_construction a:visited {text-decoration           : none;color: #FFA500}
#in_construction a:hover {text-decoration             : none;color: #FF8C00}

.in_construction {
    float               : left;
    padding             : 170px 530px;
    width               : 100px;
    height              : 100px;
    margin              : auto;
    text-shadow         : #000000 3px -3px 7px, #000000 -3px 3px 9px, #EE3B3B 5px 5px 8px, #EE3B3B -5px -5px 8px;
}